/* Tyler Johnson's CIS195 CSS for Lab 9 */
/* Obnoxious Lime Green for testing -- border: 1px solid #0f0; */

body
{
	background-color: darkblue;
	background-size: 286px;
	color: darkblue;
	background-repeat: repeat-y;
	background-image: url("https://files.evryplace.com/static/home/trainings/img_section-vr-training.png");
}

#wrapper
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	min-width: 700px;
	border: 1px solid #000;
	background-color: gray;
}

header
{
	background-color: #b8b800ff;
}

h1
{
	background-color: green;
}

#logo
{
	text-align: center;
	background-image: url("pics/logo.png");
	font-family: Verdana, Helvetica, Arial, sans-serif;
	background-repeat: no-repeat;
	line-height: 120px;
	font-weight: bold;
	color: #006;
	font-size: 180%;
}

#topNav
{
	background-color: lightgray;
	font-weight: bold;
	border-top: 1px solid #000;
	font-family: Helvetica, Arial, sans-serif;
	border-bottom: 1px solid #000;
	text-align: center;
	padding: .4rem;
	color: green;
	line-height: 1.8rem;
}

#topNav a:link
{
	color: lime;
	border: 1px solid red;
	border-radius: 5px;
	background-color: darkblue;
	padding: 2.5px 6.5px;
	text-decoration: none;

}

#topNav a:visited
{
	color: darkred;
	border: 1px solid green;
	background-color: lightblue;
}

#topNav a:hover
{
	color: red;
	border: 1px solid darkred;
	background-color: blue;
}

#topNav a:active, #topNav a:focus
{
	color: rgba(102,0,102,.6);
	border: 1px solid rgba(102,0,102,.6);
	background-color: rgba(102,0,102,.6);
}

#sideNav
{
    width: 110px;
    float: left;
    margin-top: 80px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    /* background-color: #0f0; */
}

#sideNav ul
{
    margin: 0px;
    padding: 0px;
}

#sideNav li
{
    list-style-type: none;
    line-height: 1.5;
    border-top: 1px solid #999;
	padding: 2.8px;
    border-bottom: 1px solid #999;
    padding-left: 5px;
}

#sideNav li:hover
{
    background-color: green;
}

#sideNav a
{
    text-decoration: none;
	color: orange;
}

main
{
	background-color: #b8b800ff;
	padding: 10px;
	border-left: 1px solid black;
	margin-left: 110px;
}

aside
{
	font-family: serif, "Times New Roman", Times;
	background-color: orange;
	float: right;
	width: 250px;
	box-shadow: 8px 10px 3px rgba(0,100,0,.3);
	border: 2px solid darkred;
	border-radius: 10px 40px;
	padding: 0px 5px 0px 10px;
	margin: 10px;
}

table, th, td 
{
	border: 1px solid black;
	border-collapse: collapse;
}

th, td
{
	padding: 5px;
	text-align: left;
}

th
{
	background-color: lightgreen;
	text-align: center;
}

dt
{
	font-weight: bold;
}



.img-left
{
	float: left;
	padding: 12px;
}

.img-right
{
	float: right;
	padding: 5px;
}

details
{
	background-color: lightblue;
	border: 1.6px solid red;
	margin: 15px 0px;
	padding-left: 5px;
}

summary
{
	font-style: italic;
	background-color: lightgreen;
	font-weight: bold;
	margin-left: -5px;
}

fieldset
{
	background-color: lightblue;
	color: black;
	margin-top: 10px;
}

legend
{
	background-color: lightgreen;
	padding: 2px;
	border: 1px solid black;
}

footer
{
	background-color: yellow;
	font-size: 1.0rem;
	border-top: 2px solid darkred;
	padding: 5px;
}

#age
{
	width: 25%;
	float: left;
}

#size
{
	width: 25%;
	float: right;
}

#personality
{
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}